@import url('http://fonts.cdnfonts.com/css/pac-font');
@import url('http://fonts.cdnfonts.com/css/roof-runners-active');

/* General */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.6);
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(243,98,127);
  -webkit-text-stroke-color: rgba(0,0,0,1);
  -webkit-text-stroke-width: thin;
  font-family: 'PacFont', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin-bottom: 30px;
  animation: bounce-in 3s;
}

.numbers {
  font-family: 'Roof runners active', sans-serif;
  font-size: 30px;
  -webkit-text-stroke-width: medium;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Header */

header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  width: 100vw;
  color: rgb(243,98,127);
  /*text-shadow: 1px 1px 8px black;*/
  -webkit-text-stroke-color: rgba(0,0,0,1);
  -webkit-text-stroke-width: thin;
  /* -webkit-background-clip: text; */
  font-family: 'PacFont', sans-serif;
}

header > h1 {
  background-color: white;
  box-shadow: inset 0px 0px 10px 10px rgb(240,240,240);
  border-radius: 20px;
  padding: 10px;
  animation: bounce-in 3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  75% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

p {
  margin: 5px;
  font-family: 'PacFont', sans-serif;
  color: white;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  font-size: 10px;
}
/* Game Navigation */

.nav-game {
  display: flex;
  justify-content: space-between;
  /* background-color: lightgray; */
}

.remaining {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.remaining > div {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.nav-buttons {
  display: flex;
}

button, .button-continue {
  background-color: white;
  color: lightblue;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  height: 25px;
  font-family: 'PacFont', sans-serif;
  margin-left: 5px;
  margin: 8px 0 10px 10px; 
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.button-continue {
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button:hover, .button-continue:hover {
  background-color: rgb(155, 155, 155);
  -webkit-text-stroke-color: rgb(0, 0, 0);
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.8);
  color: rgb(243,98,127);
  transform: translate(2px, 2px);
}


.score{
  width: 165px;
  justify-content: space-between;
  display: flex;
  margin-right: 10px;
  align-items: center;
}

#current-score {
  color: rgb(255, 208, 0);
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  font-family: 'Roof runners active', sans-serif;
  font-size: 15px;
}

#remaining-time, #remaining-food {
  align-items: center;
  font-family: 'Roof runners active', sans-serif;
  color: white !important;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  font-size: 15px;
}

.remaining > div:first-of-type > .icon {
  background: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
}

.icon {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-image: radial-gradient(circle at 50%, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.3), rgba(0,0,0,0.0),rgba(0,0,0,0.0))
}

.remaining > div > p {
  display: flex;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  font-family: 'PacFont', sans-serif;
  font-size: 10px;
  align-items: center;
}

/* Grid */

.grid {
  display: flex;
  flex-wrap: wrap;
  background-image: url('../Assets/pattern-grid.gif');
  background-size: 100px;
  box-shadow: inset 0px 0px 15px 15px rgb(240,240,240);
}

.cell {
  width: 28px;
  border-radius: 25%;
  height: 28px;
  margin: 1px;
  /* border: 1px solid rgba(211, 211, 211, 0.116);
    /* temp */
  font-size: 8px
}

.solid {
  background-image: url('../Assets/bush.gif');
  background-position: center;
  background-size: 28px;
  background-repeat: no-repeat;
}

.path {
  box-shadow: inset 0px 0px 4px 2px rgba(226, 79, 79, 0.4);
}

/* Footer */

footer {
  min-width: 350px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  text-align: center;
  width: 100vw;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game objects */

.player {
  
  background-image: url('../Assets/cat.gif'), radial-gradient(circle at 50%, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
  /* background-position: center; */
  background-size: 28px;
  background-repeat: no-repeat;
  box-shadow: none !important;
}

/* .slide-left {
  animation: slide-left-animation 1s;
}

@keyframes slide-left-animation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
} */



.red-opponent {
  background-image: url('../Assets/red-ghost.gif') !important;
  background-size: 28px !important;
  box-shadow: none !important;
}

.green-opponent {
  background-image: url('../Assets/green-ghost.gif') !important;  
  background-size: 28px !important;
  box-shadow: none !important;

}

.blue-opponent {
  background-image: url('../Assets/blue-ghost.gif') !important;  
  background-size: 28px !important;
  box-shadow: none !important;

}

.food {
  background-image: url('../Assets/food.gif'), radial-gradient(circle at 50%, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.4), rgba(0,0,0,0.0), rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  background-position: center;
  background-size: 15px;
  
  background-repeat: no-repeat;
}

.magic-food {
  background-image: url('../Assets/magic_food.gif'), radial-gradient(circle at 50%, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.4), rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  background-position: center;
  background-size: 28px;
  background-repeat: no-repeat;
}

/* Sounds */


.switch {
	background-color: rgba(0, 0, 0, 0);
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgb(155, 155, 155);
  border-radius: 7px;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.8);
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  transform: translate(12px, 1px);
  position: absolute;
  height: 7px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: rgb(243,98,127);
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 10px;
  text-align: center;
  content: '';
  -webkit-transition: .4s;
  transition: .4s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input:checked + .slider:before {
  transform: translate(-1px, 1px);
  border-radius: 0;
  content: '';
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
