@import url('http://fonts.cdnfonts.com/css/pac-font');
@import url('http://fonts.cdnfonts.com/css/roof-runners-active');

/* General */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  /* background-color: white; */
}

/* Header */

header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  width: 100vw;
  color: rgb(243,98,127);
  text-shadow: 1px 1px 8px black;
  -webkit-text-stroke-color: rgba(0,0,0,1);
  -webkit-text-stroke-width: thin;
  /* -webkit-background-clip: text; */
  font-family: 'PacFont', sans-serif;
  
}

p {
  margin: 5px;
  font-family: 'PacFont', sans-serif;
  color: white;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  font-size: 10px;
}
/* Game Navigation */

.nav-game {
  display: flex;
  justify-content: space-between;
  /* background-color: lightgray; */
}

.remaining {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.remaining > div {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.nav-buttons {
  display: flex;
}

button {
  background-color: rgba(255, 255, 255, 0.3);
  color: lightblue;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  height: 25px;
  font-family: 'PacFont', sans-serif;
  margin-left: 5px;
  margin: 8px 0 10px 10px; 
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: rgb(220, 246, 255);
}

.score{
  width: 165px;
  justify-content: space-between;
  display: flex;
  margin-right: 10px;
  align-items: center;
}

#current-score {
  color: rgb(255, 208, 0);
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  font-family: 'Roof runners active', sans-serif;
  font-size: 15px;
}

#remaining-time, #remaining-coins {
  align-items: center;
  font-family: 'Roof runners active', sans-serif;
  color: white !important;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  font-size: 15px;
}

.remaining > div:first-of-type > .icon {
  background: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-bottom: 2px;
}

.icon {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-image: radial-gradient(circle at 50%, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.3), rgba(0,0,0,0.0),rgba(0,0,0,0.0))
}

.remaining > div > p {
  display: flex;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: medium;
  font-family: 'PacFont', sans-serif;
  font-size: 10px;
  align-items: center;
}

/* Grid */

.grid {
  display: flex;
  flex-wrap: wrap;
  background-image: url('../Assets/pattern-4.gif');
  background-size: 100px;
  box-shadow: inset 0px 0px 15px 15px rgb(240,240,240);
}

.cell {
  width: 28px;
  border-radius: 25%;
  height: 28px;
  margin: 1px;
  /* border: 1px solid rgba(211, 211, 211, 0.116);
    /* temp */
  font-size: 8px
}

.solid {
  background-image: url('../Assets/bush.gif');
  box-shadow: outside 2px 2px 4px 2px rgba(230, 145, 0, 0.6);
  background-position: center;
  background-size: 28px;
  background-repeat: no-repeat;
}

.path {
  box-shadow: inset 0px 0px 4px 2px rgba(226, 79, 79, 0.4);
}

/* Footer */

footer {
  padding-top: 10px;
  text-align: center;
  width: 100vw;
}

/* Game objects */

.player {
  
  background-image: url('../Assets/cat.gif'), radial-gradient(circle at 50%, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
  background-position: center;
  background-size: 28px;
  background-repeat: no-repeat;
}

.red-opponent {
  background-image: url('../Assets/red-ghost.gif') !important;
  background-size: 28px !important;
}

.green-opponent {
  background-image: url('../Assets/green-ghost.gif') !important;  
  background-size: 28px !important;

}

.blue-opponent {
  background-image: url('../Assets/blue-ghost.gif') !important;  
  background-size: 28px !important;

}

.food {
  background-image: url('../Assets/food-2.gif'), radial-gradient(circle at 50%, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.4), rgba(0,0,0,0.0), rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  background-position: center;
  background-size: 15px;
  
  background-repeat: no-repeat;
}

.magic-food {
  background-image: url('../Assets/magic_food.gif'), radial-gradient(circle at 50%, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.4), rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  background-position: center;
  background-size: 28px;
  background-repeat: no-repeat;
}